# Ignore node_modules directory
/node_modules

# Ignore .env files (environment variable files)
.env

# Ignore log files
*.log

# Ignore all files in a directory
/directory-to-ignore/*

# Ignore all .txt files in any directory
**/*.txt
